<!DOCTYPE html>
<html>
<head>
    <title>Group Chat</title>
    <script src="http://localhost:8000/static/socket.io.js"></script>
</head>
<body>
<div>
    <h1>Chat Room</h1>
    <hr>
    <div id="chat-box"></div>
    <form>
        <input type="text" id="message-input" placeholder="Type your message here...">
        <button type="submit" id="send-button">Send</button>
    </form>
</div>

<script>
    const socket = io('ws://127.0.0.1:8000/ws/group');

    const chatBox = document.getElementById('chat-box');
    const messageInput = document.getElementById('message-input');
    const sendButton = document.getElementById('send-button');

    function addMessageToChatBox(message) {
        const p = document.createElement('p');
        p.innerHTML = message;
        chatBox.appendChild(p);
    }

    socket.on('connect', () => {
        console.log('Connected to server!');
    });

    socket.on('new_message', (message) => {
        console.log('New message:', message);
        addMessageToChatBox(message);
    });

    socket.on('disconnect', () => {
        console.log('Disconnected from server!');
    });

    sendButton.addEventListener('click', (event) => {
        event.preventDefault();
        const message = messageInput.value;
        messageInput.value = '';
        socket.emit('send_message', message);
    });
</script>
</body>
</html>
